<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="top-bar">
      <div class="title">
        <span>Calculadora</span>
      </div>
    </div>
    <div class="low-bar">
      <div class="menu">
        <ion-button fill="clear" color="dark">
          <ion-icon name="reorder-three-outline"></ion-icon>
        </ion-button>
        <span>Padrão</span>
      </div>
      <div class="historic">
        <ion-button fill="clear" color="dark">
          <ion-icon name="timer-outline"></ion-icon>
        </ion-button>
      </div>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-label> Operação: </ion-label>

  <ion-item>
    <ion-input placeholder="Input"></ion-input>
  </ion-item>

  <ion-grid>
    <ion-row>
      <ion-label> Resultado: </ion-label>
    </ion-row>

    <ion-item>
      <ion-input placeholder="Input"></ion-input>
    </ion-item>
    <hr />
    <ion-row>
      <ion-col>
        <ion-button color="ain">MC</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="ain">MR</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="ain">M+</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="ain">M-</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="ain">MS</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="ain">M▾</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="cinza">%</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="cinza">√</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="cinza">X<sup>2</sup></ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="cinza">⅟<sub>X</sub></ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="cinza">CE</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="cinza">C</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="cinza"
          ><ion-icon name="close-circle"></ion-icon
        ></ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="cinza">÷</ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <div class="bpc">
          <ion-button color="Dark">7</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div class="bpc">
          <ion-button color="Dark">8</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div class="bpc">
          <ion-button color="Dark">9</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <ion-button color="cinza">X</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="bpc">
          <ion-button color="Dark">4</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div class="bpc">
          <ion-button color="Dark">5</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div class="bpc">
          <ion-button color="Dark">6</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <ion-button color="cinza">-</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div class="bpc">
          <ion-button color="Dark">1</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div class="bpc">
          <ion-button color="Dark">2</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <div class="bpc">
          <ion-button color="Dark">3</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <ion-button color="cinza">+</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button color="cinza">±</ion-button>
      </ion-col>
      <ion-col>
        <div class="bpc">
          <ion-button color="Dark">0</ion-button>
        </div>
      </ion-col>
      <ion-col>
        <ion-button color="cinza">,</ion-button>
      </ion-col>
      <ion-col>
        <ion-button color="cinza">=</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
