hr{
  background-color: black;
}
ion-grid{
  ion-row{
    ion-col{
      ion-button{
        display: flex;
        }
         }
  }
}

ion-label {
  font-weight: 550;
  font-size: 1.5rem;
}

ion-title {
  letter-spacing: 2px;
  text-align: center;
}

.low-bar {
  height: rem-calc(45);
  display: flex;
  justify-content: space-between;
  align-items: center;

  .menu {
    display: flex;
    align-items: center;

    span {
      font-size: rem-calc(20);
      font-weight: 400;
    }
  }
}

.bpc {
  box-shadow: 0px 0px 10px aqua;
}

.m {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 6%;
  ion-button {
    --background: var(--buttons_background);
    --color: var(--font_color);
    --border-radius: 0;
    height: 100%;
    padding: 0;
    margin: 0;
  }
}

