<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculadora
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>

    <ion-label>Valor 1</ion-label>
    <ion-input value="custom"></ion-input>

  </ion-card>
  <ion-card>

    <ion-label>Valor 2</ion-label>
    <ion-input value="custom"></ion-input>


  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>

        <div>
          <ion-button color="aa" size="large"> + </ion-button>
        </div>

      </ion-col>
      <ion-col>

        <div>
          <ion-button color="aa" size="large"> - </ion-button>
        </div>

      </ion-col>
      <ion-col>

        <div>
          <ion-button color="aa" size="large"> * </ion-button>
        </div>

      </ion-col>
      <ion-col>

        <div>
          <ion-button color="aa" size="large"> / </ion-button>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col offset-4>

        <div>
          <ion-button color="aa" size="large">Maior</ion-button>
        </div>

      </ion-col>
      <ion-col>

        <div class="botao">


          <ion-button color="aa" size="large">Menor</ion-button>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>

        <div>
          <ion-label>Resultado</ion-label>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col>

        <div>
          <ion-label>Operação</ion-label>
        </div>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
